---
import { slugify } from '../data';

const { recipe } = Astro.props;
const season = recipe.frontmatter.season;
const tags = recipe.frontmatter.tags ?? [];
---

<article class="recipe-card">
  <a href={recipe.url}>
    <img src={recipe.frontmatter.image} alt={recipe.frontmatter.title} loading="lazy" />
    <h3>{recipe.frontmatter.title}</h3>
  </a>
  <p class="recipe-meta">{season}</p>
  <div class="tags">
    {tags.map((tag: string) => (
      <a class="tag" href={`/tags/${slugify(tag)}`}>{tag}</a>
    ))}
  </div>
</article>
